body{
    padding:0;
}
h1,h2{
    margin: 0;
}
.post-block{

    position: absolute;
    margin: 0 auto;
    left: 23%;
    margin-bottom: 100px;
    top:0px;
}
.post-container{
    border: 0.5px solid #f3f3f3;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    width: 600px;
    display: block;
    padding: 10px 0 0 0;

}
.post-title{
    color:#597cc0;
    line-height: 20px;
    margin-left: 25px;
    margin-right: 20px;
    position: relative;
    font-size: 24px;
    margin-top:10px;
}
.post-body{
    color: #f573af;
    margin-left: 25px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 34px;
}
hr{
    margin-top: -10px;
}